
.footer {
    background: linear-gradient(to top, #7c7f82 20%, #ebebeb 100%);
  color: #000000;
  text-align: center;
  font-size: 12px;
  position: relative;
  height: 40px;
  bottom: 0;
  width: 100%;
  margin-top: 30px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
 
.footer-links {
  display: flex;
  gap: 20px;
  margin-top: -25px;
}

.footer-links a {
  color: #000000;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #1a73e8;
}